<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="VaultConfiguration" type="Vsts.Vault.VaultConfiguration, Vsts.Vault, Version=1.0.0.0, Culture=neutral" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Vsts.Vault.WindowsService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <applicationSettings>
    <Vsts.Vault.WindowsService.Properties.Settings>
      <setting name="BackupInterval" serializeAs="String">
        <value>300000</value>
      </setting>
      <setting name="ServiceName" serializeAs="String">
        <value>Vsts.Vault</value>
      </setting>
    </Vsts.Vault.WindowsService.Properties.Settings>
  </applicationSettings>

  <VaultConfiguration
    Username="user"
    UserEmail="user@visualstudio.com"
    Password="pwd"
    Account="account"
    TargetFolder="D:\vsts\" />

</configuration>